<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>光明顶社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="javascript"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<div th:insert="~{navigation.html :: nav}"></div>
<div class="jumbotron">
    <h1>出错啦lalala</h1>
    <p th:text="${message}">稍等，重试</p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">返回主页</a></p>
</div>
</body>
</html>